*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -webkit-appearance: none;
  font-family: "SF-Pro-Display-Regular";
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "SF-Pro-Display-Regular";
  font-display: swap;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: none;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

section {
  max-width: 1920px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/* FONTS CSS START HERE */
@font-face {
    font-family: 'SF-Pro-Display-Bold';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/gh/NetHir-De/xbox/fonts/SF-Pro-Display-Bold.woff2) format('woff2');
  }
@font-face {
    font-family: 'SF-Pro-Display-Regular';
    font-style: normal;
    font-display: swap;
    src: url(https://cdn.jsdelivr.net/gh/NetHir-De/xbox/fonts/SF-Pro-Display-Regular.woff2) format('woff2');
}
/* FONTS CSS END'S HERE */
.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 970px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}
.w1900{max-width: 1920px;}
.d-flex {display: flex;}
.d-block {display: block;}
.justify-content-center {justify-content: center;}
.justify-content-between {justify-content: space-between;}
.align-items-center {align-items: center;}
.flex-wrap {flex-wrap: wrap;}
.flex-row-reverse {flex-direction: row-reverse;}
.position-a {position: absolute;}
.position-r {position: relative;}
.position-f {position: fixed;}
.z1 {z-index: 1;}
.z2 {z-index: 2;}
.m-auto {margin: auto !important;}
.w100 {width: 100% !important;max-width: 100% !important;}
.mr0 {margin-right: 0 !important;}
.mr10 {margin-right: 10px;}
.mb-15{margin-bottom: 15px;}
section {overflow: hidden;}

/* SECTION CSS START HERE */
/* BOOTSTRAP CSS START HERE */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  position: relative; 
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12, .col-md-12, .col-xs-12, .col-sm-12, .col-lg-12, .col-xl-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .col-6, .col-md-6, .col-xs-6, .col-sm-6, .col-lg-6, .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* BOOTSTRAP CSS END'S HERE */

/* TOPBAR CSS START HERE */
.topbar{
    left: 0;
    margin: auto;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 3;
    background-color: #000;
    p{
        color: #c5c5c5;
        font-size: 11px;
        vertical-align: baseline;
        margin-bottom: 0;
        line-height: 1em;
        margin-left: 0;
        padding: 5px;
        text-align: center;   
        @media screen and (max-width:991px){
            font-size: 11px;
        }
    }    
}
/* TOPBAR CSS END'S HERE */

/* BANNER BLOCK CSS START HERE */ 
.banner_wrapper{      
    position: relative;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
    background: #fff;
    background-image: url(https://cdn.jsdelivr.net/gh/NetHir-De/xbox/images/banner.svg);
    background-size: auto;
    background-position: right;
    background-repeat: no-repeat;
    @media(max-width:991px){
        background-size: 50%;
        background-position: top right;
    }
   > .container{
    
        > div{
            position: relative;
            z-index: 3;
        }
    }
    /* PRODUCT BLOCK CSS START HERE */
    .product_wrapper{
        margin: 0;
        padding: 76px 0;
       
        .product_block{
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            align-items: center;
            margin: 0 auto;
            @media screen and (max-width:991px) {
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
            .images_wrapper{
                font-size: 0;
                position: relative;
                margin-top: 130px;
                @media screen and (max-width:1380px) {
                    margin-top: 90px;
                }
                @media screen and (max-width:1080px){
                    margin-top: 71px;
                }
                @media screen and (max-width:991px) {
                    margin: 0 auto 50px;
                    padding: 0;
                }
               .img-tab{
                   position: relative;
                   &::after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;  
                   }
               }
                              
                img{
                    width: 100%;
                    filter: drop-shadow(0px 100px 92px rgba(0, 0, 0, 0.21)) drop-shadow(0px 64.8148px 53.8796px rgba(0, 0, 0, 0.159444)) drop-shadow(0px 38.5185px 29.3037px rgba(0, 0, 0, 0.127556)) drop-shadow(0px 20px 14.95px rgba(0, 0, 0, 0.105)) drop-shadow(0px 8.14815px 7.4963px rgba(0, 0, 0, 0.0824444)) drop-shadow(0px 1.85185px 3.62037px rgba(0, 0, 0, 0.0505556));

                    @media(max-width:991px){
                        filter: none;
                    }
                }
                
                .price_block {
                    position: absolute;
                    z-index: 5;
                    font-size: 40px;
                    background: #fff;
                    width: 170px;
                    height: 170px;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    animation: bounce 2s ease infinite;
                    box-shadow: 0px 10px 19.8px 0.2px rgba(22, 21, 21, 0.2);
                    position: absolute;
                    left: -5%;
                    top: -5%;
                    span{
                        font-size: 27px;
                        color: #000;
                        font-weight: 600;
                    }
                    h2{
                        font-size: 32px;
                        color: #000;
                        font-weight: 800;
                        font-family: 'SF-Pro-Display-Bold';
                    }
                    &:after{
                        width: calc(100% - 15px);
                        height: calc(100% - 15px);
                        content: "";
                        position: absolute;
                        border: 2px solid #000;
                        border-radius: 100%;
                    }
                    @media screen and (max-width:1480px) {
                        left: 0%;
                    }
                    @media screen and (max-width:1380px) {
                        width: 120px;
                        height: 120px;
                        left: 0%;
                        span{
                            font-size: 18px;
                        } 
                        h2{
                            font-size: 22px;
                        }
                        &:after{
                            width: calc(100% - 8px);
                            height: calc(100% - 8px);
                        }
                    }
                    @media screen and (max-width:991px) {  
                        left: 5%;
                        top: 0;
                    }
                    
                    @media screen and (max-width:575px) {
                        width: 90px;
                        height: 90px;
                        left: 5%;
                        span{
                            font-size: 16px;
                        }
                        h2{
                            font-size: 18px;
                        }
                    }
                    @media screen and (max-width:420px) {
                        top: -20px;
                    }
                    @keyframes bounce{
                        0%, 20%, 50%, 80%, 100% {
                            transform: translateY(-50%);
                        }
                        40% {
                            transform: translateY(-40%);
                        }
                        
                        60% {
                            transform: translateY(-30%);
                        }
                    }
                }
            }
            .form_wrapper{
                width: 100%;
                max-width: 550px;
                margin-right: 100px;
                @media(max-width:1280px){
                    max-width: 450px;
                    margin-right: 50px;
                }
                @media(max-width:991px){
                    margin-right: 0px;
                }
                .product_title{
                    text-align: center;
                    margin-bottom: 14px;
                    color: #000;
                    @media screen and (max-width:991px) {
                        margin-bottom: 30px;
                    }
                    h1{
                        font-weight: 800;
                        font-size: 40px;
                        line-height: 48px;
                        font-family: 'SF-Pro-Display-Bold';
                       
                        @media screen and (max-width:767px) {
                            font-size: 34px;
                        }   
                       
                    }
                }
                .form_block{
                    width: 100%;
                    margin: 0 auto;
                    padding: 35px;
                    background: #F3F3F3;
                    box-shadow: inset 0px 4px 16px 4px #ffffff1f;
                    backdrop-filter: blur(127px);      
                    @media screen and (max-width:1380px) {
                        padding: 30px;
                    }
                    @media screen and (max-width:991px) { 
                        max-width: 500px;
                    }
                    @media screen and (max-width:575px) {
                        padding: 15px; 
                        .col-12{
                            display: block;
                        }
                    }
                   
                    .mb-20{
                        margin-bottom: 20px;
                    }                
                 
                    .btn-group{
                        font-size: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 5px;
                        @media screen and (max-width:575px) {
                            margin-top: 10px;
                        }
                        a {
                            display: block;
                            width: 30px;
                            height: 30px;
                            margin-right: 12px;
                            cursor: pointer;
                            border-radius: 100%;
                            position: relative;
                            @media screen and (max-width:1380px) {
                                width: 25px;
                                height: 25px;
                            }
                          
                            &:after {
                                content: "";
                                display: block;
                                width: 40px;
                                height: 40px;
                                border: 2px solid #fff;
                                border-radius: 100%;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%,-50%) scale(0);
                                position: absolute;
                                @media screen and (max-width:1380px) {
                                    width: 36px;
                                    height: 36px;
                                }
                            }
                            &:last-child{
                                margin-right: 0;
                            }
                            &.active{
                                &:after {
                                    transform: translate(-50%,-50%) scale(1);
                                }
                            }
                        }
                    }
                    .title{
                        color: #fff;
                        text-align: center;
                        label{
                            font-size: 18px;
                            line-height: 1.2;
                            @media screen and (max-width:1380px) {
                                font-size: 18px;
                            }
                            @media screen and (max-width:1380px) {
                                font-size: 16px;
                            }
                            
                        }
                        &.topTitle{
                            margin-bottom: 40px;
                            text-align: center;
                            label{
                                font-weight: bold;
                                font-size: 30px;
                                line-height: 36px;
                                position: relative;
                                color: #000000;
                                @media screen and (max-width:1380px) {
                                    font-size: 20px;
                                }
                                @media screen and (max-width:1080px) {
                                    font-size: 18px;
                                }
                                @media screen and (max-width:575px) {
                                    font-size: 17px;
                                }
                            }
                            &::after{
                                content: '';
                                position: absolute;
                                width: 250px;
                                height: 3px;
                                background-color: #000;
                                border-radius: 50%;
                                left: 50%;
                                bottom: 35%;
                                top: auto;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                    .form-group{
                        margin-bottom: 20px;
                        @media screen and (max-width:1380px) {
                            margin-bottom: 15px;
                        }
                        label{
                            font-size: 0;
                            display: none;
                        }                    
                        input,textarea,select{
                            width: 100%;
                            background: transparent;
                            border: 0;
                            font-size: 16px;
                            color: #05060a;
                            padding: 12px 15px;
                            background: #ffffff;
                            outline: none;
                            height: 50px;
                            border: 1px solid rgba(47, 47, 47, 0.35);
                            &:focus{
                                border: 1px solid #2F2F2F;
                                box-sizing: border-box;
                                box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.29), inset 0px 0px 6px 1px rgba(255, 255, 255, 0.42);
                                backdrop-filter: blur(27px);              
                            }
                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                            &[type=number] {
                                -moz-appearance: textfield;
                            }
                            @media screen and (max-width:1380px) {
                                padding: 9px 15px;
                                line-height: 20px;
                                font-size: 16px;
                            }
                            @media screen and (max-width:767px){
                                font-size: 14px;
                                padding: 10px 15px;
                                height: 40px;
                            }
                        }
                        ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, ::placeholder {
                            color: #888888;
                        }
                        select{
                            background-image:url(https://cdn.jsdelivr.net/gh/NetHir-De/xbox/images/dropdown.png);
                            background-repeat: no-repeat;
                            background-position: right 20px center;
                            color: #888888;          
                            cursor: pointer;              
                            &:focus{
                                border: 1px solid #c2c2c2;  
                            }
                            &.active{
                                color: #05060a;
                            }
                        }
                        .form-check{
                            display: flex;
                            align-items: flex-start;
                            margin-bottom: 30px;
                            @media screen and (max-width:1380px) {
                                margin-bottom: 21px;
                            }
                            .form-check-input {
                                width: 20px;
                                min-width: 20px;
                                height: 20px;
                                margin-right: 10px;
                                vertical-align: top;
                                background-color: #fff;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                                border: 1px solid rgba(47, 47, 47, 0.5);
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none;
                                -webkit-print-color-adjust: exact; 
                                color-adjust: exact;
                                cursor: pointer;
                                padding: 0;
                                &:focus{
                                    border: 1px solid rgba(47, 47, 47, 0.5) !important;                    
                                }
                                &:checked[type=checkbox] {
                                    background-image: url(https://cdn.jsdelivr.net/gh/NetHir-De/xbox/images/right.svg);
                                    background-color: #fff;
                                    border: 1px solid rgba(47, 47, 47, 0.5);
                                }
                            }
                            label{
                                font-size: 16px;
                                display: inline-block;
                                cursor: pointer;
                                color: #000;
                                @media screen and (max-width:1380px) {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                    .btn,button,input[type="submit"]{
                        border-radius: 10px;
                        background: #000;
                        width: 100%;
                        height: 50px;
                        border: 0;
                        outline: none;
                        cursor: pointer;
                        font-size: 20px;
                        line-height: 1.35;         
                        color: #fff;
                        padding-bottom: 0;
                        border-radius: 0;
                        transition: background 0.5s ease;
                        @media screen and (max-width:1380px) {
                            font-size: 16px;
                            height:40px;
                            padding-bottom: 2px;
                        }
                        &:hover{
                            background: #fff;
                            color: #000;
                            border: 1px solid #000;
                            transition: background 0.5s ease;
                        }
                    }
                }
            }
        }
    }
    /* PRODUCT BLOCK CSS END HERE */
}
/* BANNER BLOCK CSS END'S HERE */

/* POWER BLOCK CSS START HERE */
.power_wrapper{
    .power_block{
        background: linear-gradient(90deg, #323232 0%, #171717 100%);
        padding: 85px 100px;
        @media(max-width:991px){
            padding: 85px 25px;
        }
        @media(max-width:767px){
            padding: 50px 25px;
        }
        .content_title{
            text-align: center;
            margin-bottom: 50px;
            position: relative;
            h2{
                font-weight: 800;
                font-size: 40px;
                line-height: 48px;
                color: #FFFFFF;
                font-family: 'SF-Pro-Display-Bold';
                @media(max-width:767px){
                    font-size: 34px;
                }
                @media(max-width:575px){
                    font-size: 28px;
                }
                @media(max-width:375px){
                    font-size: 20px;
                    line-height: 38px;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 250px;
                    height: 3px;
                    background-color: #fff;
                    border-radius: 50%;
                    left: 50%;
                    bottom: -20%;
                    top: auto;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .content_block{
            display: flex;
            align-items: center;
            @media(max-width:767px){
                display: block;
            }
            .single_block{
               text-align: center;
                &.column{
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 33.33333%;
                    flex: 0 0 33.33333%;
                    max-width: 33.33333%;
                    justify-content: center;
                    @media(max-width:767px){
                        margin: 0 auto 50px;
                        flex: 0 0 100%;
                            max-width: 100%;
                        &:last-of-type{
                            margin: 0 auto;
                            
                        }
                    }
                    .block_content{
                        display: inline-block;
                        padding: 25px 20px;
                        height: 188px;
                        width: 188px;
                        background: #5E5E5E;
                        box-shadow: 0px 96px 80px rgba(0, 0, 0, 0.08), 0px 62.2222px 46.8519px rgba(0, 0, 0, 0.0607407), 0px 36.9778px 25.4815px rgba(0, 0, 0, 0.0485926), 0px 19.2px 13px rgba(0, 0, 0, 0.04), 0px 7.82222px 6.51852px rgba(0, 0, 0, 0.0314074), 0px 1.77778px 3.14815px rgba(0, 0, 0, 0.0192593);
                        .block_img{
                            margin-bottom: 5px;
                        }
                        .block_text{
                            h6{
                                font-size: 20px;
                                line-height: 24px;
                                text-align: center;
                                color: #FFFFFF;
                                letter-spacing: 1px;
                                font-weight: 500;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* POWER BLOCK CSS END HERE */

/* DOWNLOAD BLOCK CSS START HERE */
.download_wrapper{
    padding: 200px 0;
    max-width: 1920px;
    margin: auto;
    @media(max-width:991px){
        padding: 100px 0;
    }
    @media(max-width:575px){
        padding: 50px 0;
    }
    .download_block{
        display: flex;
        align-items: center;
        @media(max-width:767px){
            display: block;
            text-align: center;
        }
        .left_block{
            max-width: 900px;
            width: 100%;
            @media(max-width:767px){
                margin-bottom: 30px;
            }
        }
        .right_block{
            max-width: 550px;
            padding-left: 50px;
            @media(max-width:767px){
                padding-left: 15px;
                padding-right: 15px;
                max-width: 100%;
            }
            h2{
                font-weight: 800;
                font-size: 40px;
                line-height: 48px;
                color: #000000;
                margin-bottom: 20px;
                @media(max-width:991px){
                   font-size: 34px;
                }
                @media(max-width:575px){
                    font-size: 30px;
                }
            }
            p{
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
                margin-bottom: 50px;
                @media(max-width:991px){
                    font-size: 18px;
                    margin-bottom: 30px;
                }
                 @media(max-width:767px){
                    font-size: 16px;
                    margin-bottom: 30px;
                }
            }
            a{
                width: 200px;
                height: 50px;
                color: #fff;
                background: #000;
                padding: 15px 45px;
                text-decoration: none;
                display: inline-block;
                border: 1px solid #000;
                &:hover{
                    background: #fff;
                    color: #000;
                    border: 1px solid #000;
                    transition: background 0.5s ease;
                }
            }
        }
    }
}
/* DOWNLOAD BLOCK CSS END HERE */

/* RE-ENGINEERED BLOCK CSS START HERE */
.engineered_wrapper{
    background: #0f0f0f;
    padding: 100px 0;
    @media(max-width:575px){
        padding: 50px 0;
    }
    .engineered_block{
        position: relative;
        @media(max-width:991px){
            text-align: center;
        }
        .img_block{
            @media(max-width:991px){
                margin-bottom: 30px;
            }
        }
        .content_block{
            color: #fff;
            position: absolute;
            @media(max-width:991px){
                position: relative;
                
            }
            &.block-1{
                top: 0;
                left: 0;
                max-width: 450px;
                @media(max-width:1280px){
                    max-width: 400px;
                }
                @media(max-width:991px){
                    max-width: 100%;
                    margin-bottom: 30px;
                    text-align: center;
                }
                h2{
                    font-size: 40px;
                    line-height: 48px;
                    color: #FFFFFF;
                    margin-bottom: 20px;
                    @media(max-width:1280px){
                        font-size: 36px;
                    }
                    @media(max-width:991px){
                        margin-bottom: 10px;
                    }
                    @media(max-width:375px){
                        font-size: 26px;
                    }
                }
                p{
                    font-size: 20px;
                    line-height: 24px;
                    color: rgba(255, 255, 255, 0.5);
                    @media(max-width:1280px){
                        font-size: 18px;
                    }
                }
            }
            &.block-2{
                bottom: 0;
                right: 0;
                max-width: 350px;
                @media(max-width:991px){
                    max-width: 100%;
                    display: inline-block;
                }
                > div{
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;
                    position: relative;
                    &:after{
                        content: '';
                        position: absolute;
                        width: 300px;
                        height: 2px;
                        background: url(https://cdn.jsdelivr.net/gh/NetHir-De/xbox/images/br-line.svg);
                        background-size: cover;
                        background-position: center;
                        bottom: -10px;
                    }
                }
                h2{
                    background: -webkit-linear-gradient(#eee, #333);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 35px;
                    line-height: 42px;
                    margin-right: 10px;
                    font-family: "SF-Pro-Display-Bold";
                    @media(max-width:991px){
                        font-size: 30px;
                    }
                }
                p{
                    font-size: 15px;
                    line-height: 18px;
                    background:  linear-gradient(180deg, #78797D 7.44%, #FFFFFF 50.08%, #A7A7A7 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}
/* RE-ENGINEERED BLOCK CSS END HERE */

/* GAMING BLOCK CSS START HERE */
.gaming_wrapper{
    padding: 200px 0;
    @media(max-width:991px){
        padding: 100px 0;
    }
    @media(max-width:575px){
        padding: 50px 0;
    }
    .content_title{
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        color: #000000;
        text-align: center;
        margin-bottom: 50px;
        @media(max-width:1280px){
            font-size: 36px;
        }
        @media(max-width:1024px){
            font-size: 32px;
        }
        @media(max-width:991px){
            font-size: 28px;
            line-height: 40px;
        }
        @media(max-width:375px){
            font-size: 25px;
        }
    }
    .content_detail{
        position: relative;
        .img_block2{
            position: absolute;
            bottom: -70%;
            max-width: 830px;
            width: 100%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
            @media(max-width:1280px){
                max-width: 650px;
            }
            @media(max-width:991px){
                max-width: 550px;
            }
            @media(max-width:767px){
                max-width: 450px;
            }
            @media(max-width:575px){
                max-width: 350px;
            }
        }
    }
}
/* GAMING BLOCK CSS END HERE */

/* PLAY BLOCK CSS START HERE */
.play_wrapper{
    padding: 200px 0;
    @media(max-width:991px){
        padding: 100px 0;
    }
    @media(max-width:575px){
        padding: 50px 0;
    }
    .play_block{
        display: flex;
        align-items: center;
        @media(max-width:767px){
            display: block;
        }
        .content_block{
            max-width: 500px;
            @media(max-width:767px){
                margin-bottom: 40px;
                text-align: center;
                max-width: 100%;
            }
            h2{
                font-size: 40px;
                line-height: 48px;
                color: #000000;
                margin-bottom: 20px;
                @media(max-width:1280px){
                    font-size: 36px;
                }
                @media(max-width:1024px){
                    font-size: 32px;
                }
                @media(max-width:991px){
                    font-size: 28px;
                    line-height: 40px;
                }
                @media(max-width:375px){
                    font-size: 25px;
                }
            }
            p{
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 20px;
                color: #000000;
                @media(max-width:1280px){
                    font-size: 18px;
                }
            }
            a{
                font-size: 15px;
                line-height: 18px;
                color: #FFFFFF;
                background-color: #000;
                padding: 15px 50px;
                width: 215px;
                display: inline-block;
                text-align: center;
                text-decoration: none;
                border: 1px solid #000;
                &:hover{
                    background: #fff;
                    color: #000;
                    border: 1px solid #000;
                    transition: background 0.5s ease;
                }
                @media(max-width:767px){
                    width: 180px
                }
            }
        }
    }
}
/* PLAY BLOCK CSS END HERE */

/* XBOX BLOCK CSS START HERE */
.xbox_wrapper{
    padding-top: 100px;
    background: #272727;
    @media(max-width:767px){
        padding-top: 50px;
    }
    .xbox_block{
        text-align: center;
        .content_block{
            display: inline-block;
            position: relative;
            h2{
                font-size: 50px;
                line-height: 60px;
                color: #FFFFFF;
                margin-bottom: 20px;
                @media(max-width:1280px){
                    font-size: 46px;
                }
                @media(max-width:1024px){
                    font-size: 40px;
                }
                @media(max-width:991px){
                    font-size: 34px;
                    line-height: 40px;
                }
                @media(max-width:375px){
                    font-size: 30px;
                }
            }
            p{
                font-size: 25px;
                line-height: 30px;
                text-align: center;
                color: rgba(255, 255, 255, 0.5);
                margin-bottom: 60px;
               
                @media(max-width:1024px){
                    font-size: 22px;
                }
                @media(max-width:767px){
                    margin-bottom: 40px;
                }
                @media(max-width:575px){
                    font-size: 20px;
                }
                @media(max-width:375px){
                    font-size: 18px;
                }
            }
            &::after{
                content: '';
                position: absolute;
                width: 250px;
                height: 3px;
                background-color: #fff;
                border-radius: 50%;
                left: 50%;
                bottom: 15%;
                top: auto;
                transform: translate(-50%, -50%);
            }
        }
        .img_block{
            line-height: 0;
            img{
                filter: drop-shadow(0px 74px 306px rgba(218, 218, 218, 0.15)) drop-shadow(0px 43.5712px 159.61px rgba(218, 218, 218, 0.10848)) drop-shadow(0px 22.3776px 74.9088px rgba(218, 218, 218, 0.08424)) drop-shadow(0px 8.9984px 32.8032px rgba(218, 218, 218, 0.06576)) drop-shadow(0px 2.0128px 14.1984px rgba(218, 218, 218, 0.04152));
                @media(max-width:767px){
                    filter: none;
                }
            }
        }
    }
}
/* XBOX BLOCK CSS END HERE */

/* FOOTER CSS START HERE */
footer{
    background: #1E1C1C;
    padding: 55px 0;
    text-align: center;
    position: relative;
    @media screen and (max-width:1380px) {
        padding: 25px 0;
    }
    @media screen and (max-width:767px) {
        padding: 20px 0;
    }
    p{
        font-size: 18px;
        line-height: 25px;
        color: #fff;
        @media screen and (max-width:1380px) {
            font-size: 14px;
        }
        @media screen and (max-width:767px) {
            line-height: 20px;
        }
    }
    h4{
        font-size: 20px;
        line-height: 25px;
        color: #fff;
        text-align: center;
        margin-top: 5px;
        letter-spacing: 3px;
        text-transform: uppercase; 
        @media screen and (max-width:1380px) {
            font-size: 14px;
        }
    }
}
/* FOOTER CSS END'S HERE */ 