$SFP-Regular : 'SF-Pro-Display-Regular';
$SFP-Bold : 'SF-Pro-Display-Bold';

$white : #fff;

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  font-display: swap;
  -webkit-appearance: none;
  font-family: $SFP-Regular;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $SFP-Regular;
  font-display: swap;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #fff;
}
html {
    scroll-behavior: smooth;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    list-style: none;
    vertical-align: baseline;
}
  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
section{    
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* FONTS CSS START HERE */
@font-face {
    font-family: 'SF-Pro-Display-Bold';
    font-style: normal;
    font-display: swap;
    src: url(https://cdn.jsdelivr.net/gh/netdevcdn/dev@latest/form-campaign-checkout/assets-V3/fonts/SF-Pro-Display-Bold.woff2) format('woff2');
  }
@font-face {
    font-family: 'SF-Pro-Display-Regular';
    font-style: normal;
    font-display: swap;
    src: url(https://cdn.jsdelivr.net/gh/netdevcdn/dev@latest/form-campaign-checkout/assets-V3/fonts/SF-Pro-Display-Regular.woff2) format('woff2');
}
/* FONTS CSS END'S HERE */

.container{
    max-width: 1190px;
    padding:0 15px;
    margin: 0 auto;
    width: 100%;
    @media screen and (max-width:1399px){
        max-width: 991px;
    }
}
/* SECTION CSS START HERE */

/* BOOTSTRAP CSS START HERE */
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
}
.col-12, .col-md-12, .col-xs-12, .col-sm-12,.col-lg-12,.col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-6{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
@media (min-width: 768px){
    .col-md-6, .col-xs-6, .col-sm-6 ,.col-lg-6,.col-xl-6{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
/* BOOTSTRAP CSS END'S HERE */


/* FORM TITLE CSS START HERE */
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #8080801f;
    h3{
        margin-bottom: 10px;
        font-size: 12px;
    }
    h4{
        font-size: 24px;
        line-height: 1.2;
        @media(max-width: 767px){
            font-size: 20px;
        }
    }
}
/* FORM TITLE CSS END'S HERE */

/* FORM TITLE CSS END'S HERE */

/* QUESTION CSS START HERE */
.questions{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #8080801f;
    display: flex;
    align-items: center;
    .icon{
        margin-right: 10px;
        line-height: 0;
        img{
            width: 60px;
        }
    }
    .content{
        h5{
            font-size: 22px;
            line-height: 1.2;
            margin-bottom: 10px;
            @media(max-width: 767px){
                font-size: 18px;
            }
        }
        h6{
            font-size: 12px;
            color: #c5c5c5;
            font-weight: 500;
            a{
                color: #c5c5c5;
                text-decoration: none;
            }
        }
    }
}
/* QUESTION CSS END'S HERE */

/* PRODUCT BLOCK CSS START HERE */

// select{
//     appearance: auto;
// }

.form_wrapper{
    width: 100%;
    margin: 60px 0 40px;
    @media(max-width: 767px){
        margin: 40px 0 20px;
    }
    .form_block{
        width: 100%;
        margin: 0 auto 30px;               
        input[type="radio"] {
            display: none;
        }
        .paid{
            @media(min-width: 767px){
                display: none;
            }
        }
        .btn-group{
            font-size: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding:5px 0;
            a {
                display: block;
                width: 40px;
                height: 40px;
                margin-right: 20px;
                cursor: pointer;
                border-radius: 100%;
                position: relative;
                box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
                @media screen and (max-width:1399px) {
                    width: 25px;
                    height: 25px;
                    margin-right: 20px;
                }
                &:after {
                    content: "";
                    display: block;
                    width: 48px;
                    height: 48px;
                    border: 1px solid #000;
                    border-radius: 100%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%) scale(0);
                    position: absolute;
                    @media screen and (max-width:1399px) {
                        width: 36px;
                        height: 36px;
                    }
                }
                &:last-child{
                    margin-right: 0;
                }
                &.active{
                    &:after {
                        transform: translate(-50%,-50%) scale(1);
                    }
                }
            }
        }
        .d-flex {
            display: flex;
            align-items: center;
            margin-bottom: 45px;                    
            @media screen and (max-width:991px) {
                margin-bottom: 20px;
            }
        }
        .form-group{
            margin-bottom: 20px;
            label{
                font-size: 16px;
                margin-bottom: 5px;
                display: inline-block;
            }                    
            input,textarea,select{
                width: 100%;
                background: transparent;
                border: 0;
                border: 1px solid #8080808f;
                color: #05060a;
                font-family:$SFP-Regular;
                font-weight: 100;
                padding: 14px;
                border-radius:0;
                background: #fff;
                outline: none;
                font-size: 15px;
                line-height: 16px;
                &:focus{
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    box-shadow: 0px 7.93265px 11.5384px rgba(0, 0, 0, 0.07);
                }
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                &[type=number] {
                    -moz-appearance: textfield;
                }
                @media screen and (max-width:1399px) {
                    padding: 9px 15px;
                    line-height: 20px;
                    font-size: 16px;
                }
                @media screen and (max-width:575px){
                    font-size: 16px;
                    padding: 10px 15px;
                }
            }
            ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, ::placeholder {
                font-family:$SFP-Regular;color: #888888;
            }
        }
        .btn,button,input[type="submit"]{
            border-radius: 0;
            background-color: #59af59;
            width: 100%;
            height: 45px;
            border: 0;
            outline: none;
            cursor: pointer;
            font-size: 16px;
            line-height: 17px;
            color: $white;
            padding-bottom: 0;
            transition: background 0.5s ease;
            @media screen and(max-width:1399px){
                font-size: 16px;
                height:40px;
                padding-bottom: 2px;
            }
            &:hover{
                background: #2c2c2c;
                transition: background 0.5s ease;
            }
        }
        .total_price{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #8080808f;
            border-bottom: 1px solid #8080808f;
            padding: 10px;
            margin-bottom: 20px;
            margin-top: 20px;
            label{
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
    .footer-text{
        text-align: center;
        margin: 0 auto;
        p{
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
            margin-bottom: 10px;

        }
    }
    .secure{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        img{
            width: 100px;
            margin-right: 20px;
            @media(max-width: 480px){
                width: 60px;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
/* PRODUCT BLOCK CSS END'S HERE */

/* SECTION CSS END'S HERE */

/*CHECKOUT CONTENT CSS*/
.main-content{
    .paid{
        @media(max-width: 767px){
            display: none;
        }
    }
    .checkout-images{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        @media(max-width: 767px){
            justify-content: unset;
        }
        img{
            width: 50%;
        }
        .checkout1{
            max-width: 250px;
            @media(max-width: 991px){
                max-width: 200px;
            }
        }
        .checkout2{
            max-width: 200px;
            @media(max-width: 991px){
                max-width: 150px;
            }
        }
    }
    .checkout-policy{
        P{
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
            margin-bottom: 10px;
            a{
                color: #a5a5a5;
                text-decoration: none;
            }
        }
    }
}
/*CHECKOUT CONTENT END'S HERE*/

section.footer {
    border-top: 1px solid rgba(128,128,128,.1215686275);
    padding: 20px 12px;
    margin-top: 13px;
    @media screen and (max-width:991px) {
        font-size: 11px;
    }
}
