*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  font-display: swap;
  -webkit-appearance: none;
  font-family: "SF-Pro-Display-Regular";
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "SF-Pro-Display-Regular";
  font-display: swap;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #fff;
}

html {
  scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: none;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* FONTS CSS START HERE */
@font-face {
  font-family: 'SF-Pro-Display-Bold';
  font-style: normal;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/gh/NetHir-De/playstation/fonts/SF-Pro-Display-Bold.woff2) format("woff2");
}

@font-face {
  font-family: 'SF-Pro-Display-Regular';
  font-style: normal;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/gh/NetHir-De/playstation/fonts/SF-Pro-Display-Regular.woff2) format("woff2");
}

@font-face {
  font-family: 'SF-Pro-Display-Medium';
  font-style: normal;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/gh/NetHir-De/playstation/fonts/SF-Pro-Display-Medium.woff2) format("woff2");
}

/* FONTS CSS END'S HERE */
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (max-width: 1366px) {
  .container {
    max-width: 1080px;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    max-width: 950px;
  }
}

.container_fluied {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (max-width: 1366px) {
  .container_fluied {
    max-width: 1080px;
  }
}

@media screen and (max-width: 1080px) {
  .container_fluied {
    max-width: 950px;
  }
}

/* SECTION CSS START HERE */
h2 {
  font-size: 62px;
  font-family: "SF-Pro-Display-Regular";
  font-weight: 100;
  line-height: 81px;
  color: #161A39;
  margin-bottom: 15px;
}

@media screen and (max-width: 1366px) {
  h2 {
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 38px;
    line-height: 48px;
  }
}

@media screen and (max-width: 575px) {
  h2 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 5px;
  }
}

p {
  font-size: 20px;
  line-height: 26px;
  color: rgba(22, 26, 57, 0.6);
}

@media screen and (max-width: 1366px) {
  p {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 991px) {
  p {
    font-size: 16px;
    line-height: 24px;
  }
}

/* BOOTSTRAP CSS START HERE */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12, .col-md-12, .col-xs-12, .col-sm-12, .col-lg-12, .col-xl-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .col-6, .col-md-6, .col-xs-6, .col-sm-6, .col-lg-6, .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* BOOTSTRAP CSS END'S HERE */
/* TOPBAR CSS START HERE */
.topbar {
  left: 0;
  margin: auto;
  position: relative;
  top: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
}

.topbar p {
  color: #c5c5c5;
  font-size: 11px;
  vertical-align: baseline;
  margin-bottom: 0;
  line-height: 1em;
  margin-left: 0;
  padding: 5px 0;
  text-align: center;
  font-family: "SF-Pro-Display-Regular";
}

@media screen and (max-width: 991px) {
  .topbar p {
    font-size: 11px;
  }
}

.topbar.topbar2 {
  background-color: #fff;
  border-bottom: none;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar.topbar2 p {
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
  color: #666;
  font-weight: 400;
}

.topbar.topbar2 .count {
  margin-left: 6px;
}

.topbar.topbar2 .count div {
  padding: 0px;
  background: transparent;
  position: relative;
  text-align: center;
  color: #333;
  font-family: "SF-Pro-Display-Regular";
  font-size: calc(1.1em + 0.15vw);
  min-width: 54px;
  min-height: 25px;
}

/* TOPBAR CSS END'S HERE */
/* PRODUCT BLOCK CSS START HERE */
.product_wrapper {
  margin: 0;
  padding: 104px 0 62px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EDF4FA), to(#F9FCFF));
  background: linear-gradient(180deg, #EDF4FA 0%, #F9FCFF 100%);
}

@media screen and (max-width: 1366px) {
  .product_wrapper {
    padding: 80px 0;
  }
}

@media screen and (max-width: 991px) {
  .product_wrapper {
    padding: 60px 0;
  }
}

@media screen and (max-width: 767px) {
  .product_wrapper {
    padding: 40px 0;
  }
}

.product_wrapper .product_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .product_wrapper .product_block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product_wrapper .product_block .images_wrapper {
  width: 100%;
  max-width: calc(100% - 480px);
  font-size: 0;
  padding-left: 130px;
  position: relative;
}

.product_wrapper .product_block .images_wrapper .img-tab {
  display: none;
}

.product_wrapper .product_block .images_wrapper .img-tab.active {
  display: block;
  width: 100%;
  height: 100%;
}

.product_wrapper .product_block .images_wrapper .img-tab.active img {
  width: 100%;
}

@media screen and (max-width: 1366px) {
  .product_wrapper .product_block .images_wrapper {
    padding-left: 40px;
  }
}

@media screen and (max-width: 991px) {
  .product_wrapper .product_block .images_wrapper {
    max-width: 420px;
    margin: 0 auto 30px auto;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .product_wrapper .product_block .images_wrapper {
    max-width: 320px;
  }
}

@media screen and (max-width: 575px) {
  .product_wrapper .product_block .images_wrapper {
    max-width: 280px;
  }
}

.product_wrapper .product_block .images_wrapper .price_block {
  position: absolute;
  z-index: 5;
  font-size: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0071E3), to(#4CA2F8));
  background: linear-gradient(180deg, #0071E3 0%, #4CA2F8 100%);
  width: 152px;
  height: 152px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: bounce 2s ease infinite;
          animation: bounce 2s ease infinite;
  -webkit-box-shadow: 0px 10px 19.8px 0.2px rgba(127, 127, 127, 0.2);
          box-shadow: 0px 10px 19.8px 0.2px rgba(127, 127, 127, 0.2);
  position: absolute;
  left: 130px;
  top: 35%;
}

.product_wrapper .product_block .images_wrapper .price_block span {
  font-size: 20px;
  color: #fff;
}

.product_wrapper .product_block .images_wrapper .price_block h2 {
  font-size: 32px;
  font-family: "SF-Pro-Display-Bold";
  color: #fff;
  margin: 0;
  line-height: inherit;
}

.product_wrapper .product_block .images_wrapper .price_block:after {
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  content: "";
  position: absolute;
  border: 2px solid #fff;
  border-radius: 100%;
}

@media screen and (max-width: 1366px) {
  .product_wrapper .product_block .images_wrapper .price_block {
    width: 120px;
    height: 120px;
    left: 70px;
  }
  .product_wrapper .product_block .images_wrapper .price_block span {
    font-size: 18px;
  }
  .product_wrapper .product_block .images_wrapper .price_block h2 {
    font-size: 22px;
  }
  .product_wrapper .product_block .images_wrapper .price_block:after {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
  }
}

@media screen and (max-width: 991px) {
  .product_wrapper .product_block .images_wrapper .price_block {
    left: auto;
    right: 42px;
  }
}

@media screen and (max-width: 767px) {
  .product_wrapper .product_block .images_wrapper .price_block {
    right: 18px;
  }
}

@media screen and (max-width: 575px) {
  .product_wrapper .product_block .images_wrapper .price_block {
    width: 90px;
    height: 90px;
    right: 24px;
  }
  .product_wrapper .product_block .images_wrapper .price_block span {
    font-size: 16px;
  }
  .product_wrapper .product_block .images_wrapper .price_block h2 {
    font-size: 18px;
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  40% {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  60% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  40% {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  60% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

.product_wrapper .product_block .form_wrapper {
  width: 100%;
  max-width: 480px;
}

.product_wrapper .product_block .form_wrapper .form_block {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 15px;
  padding: 26px 44px 49px;
}

@media screen and (max-width: 1366px) {
  .product_wrapper .product_block .form_wrapper .form_block {
    padding: 30px;
  }
}

@media screen and (max-width: 575px) {
  .product_wrapper .product_block .form_wrapper .form_block {
    padding: 25px;
  }
}

.product_wrapper .product_block .form_wrapper .form_block .row .col-6:first-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-md-6:first-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-xs-6:first-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-sm-6:first-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-lg-6:first-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-xl-6:first-child {
  padding-right: 7px;
}

@media screen and (max-width: 767px) {
  .product_wrapper .product_block .form_wrapper .form_block .row .col-6:first-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-md-6:first-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-xs-6:first-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-sm-6:first-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-lg-6:first-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-xl-6:first-child {
    padding-right: 15px;
  }
}

.product_wrapper .product_block .form_wrapper .form_block .row .col-6:last-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-md-6:last-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-xs-6:last-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-sm-6:last-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-lg-6:last-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-xl-6:last-child {
  padding-left: 7px;
}

@media screen and (max-width: 767px) {
  .product_wrapper .product_block .form_wrapper .form_block .row .col-6:last-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-md-6:last-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-xs-6:last-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-sm-6:last-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-lg-6:last-child, .product_wrapper .product_block .form_wrapper .form_block .row .col-xl-6:last-child {
    padding-left: 15px;
  }
}

.product_wrapper .product_block .form_wrapper .form_block input[type="radio"] {
  display: none;
}

.product_wrapper .product_block .form_wrapper .form_block .title {
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .product_wrapper .product_block .form_wrapper .form_block .title {
    text-align: center;
  }
}

.product_wrapper .product_block .form_wrapper .form_block .title label {
  font-family: "SF-Pro-Display-Medium";
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
  color: #161A39;
  text-transform: capitalize;
}

@media screen and (max-width: 1366px) {
  .product_wrapper .product_block .form_wrapper .form_block .title label {
    font-size: 20px;
  }
}

.product_wrapper .product_block .form_wrapper .form_block .title.choose_color {
  margin-top: 20px;
}

.product_wrapper .product_block .form_wrapper .form_block .title.choose_color label {
  font-size: 18px;
}

@media screen and (max-width: 1366px) {
  .product_wrapper .product_block .form_wrapper .form_block .title.choose_color label {
    font-size: 16px;
  }
}

.product_wrapper .product_block .form_wrapper .form_block .form-group {
  margin-bottom: 15px;
}

.product_wrapper .product_block .form_wrapper .form_block .form-group label {
  font-size: 0;
  display: none;
}

.product_wrapper .product_block .form_wrapper .form_block .form-group input, .product_wrapper .product_block .form_wrapper .form_block .form-group textarea, .product_wrapper .product_block .form_wrapper .form_block .form-group select {
  width: 100%;
  background: transparent;
  border: 0;
  border: 1px solid #c2c2c2;
  font-size: 14px;
  color: #05060a;
  font-family: "SF-Pro-Display-Regular";
  font-weight: 100;
  padding: 13px 20px;
  border-radius: 8px;
  background: #FBFBFB;
  line-height: 17px;
  outline: none;
}

.product_wrapper .product_block .form_wrapper .form_block .form-group input:focus, .product_wrapper .product_block .form_wrapper .form_block .form-group textarea:focus, .product_wrapper .product_block .form_wrapper .form_block .form-group select:focus {
  border: 1px solid #05060a;
}

.product_wrapper .product_block .form_wrapper .form_block .form-group input::-webkit-outer-spin-button, .product_wrapper .product_block .form_wrapper .form_block .form-group input::-webkit-inner-spin-button, .product_wrapper .product_block .form_wrapper .form_block .form-group textarea::-webkit-outer-spin-button, .product_wrapper .product_block .form_wrapper .form_block .form-group textarea::-webkit-inner-spin-button, .product_wrapper .product_block .form_wrapper .form_block .form-group select::-webkit-outer-spin-button, .product_wrapper .product_block .form_wrapper .form_block .form-group select::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product_wrapper .product_block .form_wrapper .form_block .form-group input[type=number], .product_wrapper .product_block .form_wrapper .form_block .form-group textarea[type=number], .product_wrapper .product_block .form_wrapper .form_block .form-group select[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 1366px) {
  .product_wrapper .product_block .form_wrapper .form_block .form-group input, .product_wrapper .product_block .form_wrapper .form_block .form-group textarea, .product_wrapper .product_block .form_wrapper .form_block .form-group select {
    padding: 9px 15px;
    line-height: 20px;
    font-size: 16px;
  }
}

@media screen and (max-width: 575px) {
  .product_wrapper .product_block .form_wrapper .form_block .form-group input, .product_wrapper .product_block .form_wrapper .form_block .form-group textarea, .product_wrapper .product_block .form_wrapper .form_block .form-group select {
    font-size: 16px;
  }
}

.product_wrapper .product_block .form_wrapper .form_block .form-group ::-webkit-input-placeholder, .product_wrapper .product_block .form_wrapper .form_block .form-group ::-moz-placeholder, .product_wrapper .product_block .form_wrapper .form_block .form-group :-ms-input-placeholder, .product_wrapper .product_block .form_wrapper .form_block .form-group ::-webkit-input-placeholder {
  font-family: "SF-Pro-Display-Regular";
  color: #888888;
}

.product_wrapper .product_block .form_wrapper .form_block .form-group ::-webkit-input-placeholder, .product_wrapper .product_block .form_wrapper .form_block .form-group ::-moz-placeholder, .product_wrapper .product_block .form_wrapper .form_block .form-group :-ms-input-placeholder, .product_wrapper .product_block .form_wrapper .form_block .form-group ::placeholder {
  font-family: "SF-Pro-Display-Regular";
  color: #888888;
}

.product_wrapper .product_block .form_wrapper .form_block .form-group input:-webkit-autofill,
.product_wrapper .product_block .form_wrapper .form_block .form-group input:-webkit-autofill:hover,
.product_wrapper .product_block .form_wrapper .form_block .form-group input:-webkit-autofill:focus,
.product_wrapper .product_block .form_wrapper .form_block .form-group input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

.product_wrapper .product_block .form_wrapper .form_block .form-group select {
  background-image: url(images/dropdown.png);
  background-repeat: no-repeat;
  background-position: right 20px center;
  color: #888888;
  cursor: pointer;
}

.product_wrapper .product_block .form_wrapper .form_block .form-group select:focus {
  border: 1px solid #05060a;
}

.product_wrapper .product_block .form_wrapper .form_block .form-group select.active {
  color: #05060a;
}

.product_wrapper .product_block .form_wrapper .form_block .form-group .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 991px) {
  .product_wrapper .product_block .form_wrapper .form_block .form-group .form-check {
    padding: 0;
  }
}

.product_wrapper .product_block .form_wrapper .form_block .form-group .form-check .form-check-input {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  vertical-align: top;
  background: #FBFBFB;
  border: 1px solid #c2c2c2;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  padding: 0;
  border-radius: 5px;
}

.product_wrapper .product_block .form_wrapper .form_block .form-group .form-check .form-check-input:focus {
  border: 1px solid #05060a;
}

.product_wrapper .product_block .form_wrapper .form_block .form-group .form-check .form-check-input:checked[type=checkbox] {
  background-image: url(images/right.svg);
  background-color: #161A39;
}

.product_wrapper .product_block .form_wrapper .form_block .form-group .form-check label {
  font-size: 14px;
  color: rgba(22, 26, 57, 0.6);
  line-height: 1.2;
  display: inline-block;
  cursor: pointer;
  font-family: "SF-Pro-Display-Medium";
  width: 100%;
}

@media screen and (max-width: 1366px) {
  .product_wrapper .product_block .form_wrapper .form_block .form-group .form-check label {
    font-size: 15px;
  }
}

.product_wrapper .product_block .form_wrapper .form_block .btn, .product_wrapper .product_block .form_wrapper .form_block button, .product_wrapper .product_block .form_wrapper .form_block input[type="submit"] {
  border-radius: 10px;
  background-color: #01A2F3;
  width: 100%;
  height: 48px;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  padding-bottom: 0;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  font-family: "SF-Pro-Display-Regular";
  font-weight: 500;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 1366px) {
  .product_wrapper .product_block .form_wrapper .form_block .btn, .product_wrapper .product_block .form_wrapper .form_block button, .product_wrapper .product_block .form_wrapper .form_block input[type="submit"] {
    font-size: 16px;
    height: 40px;
    padding-bottom: 2px;
  }
}

.product_wrapper .product_block .form_wrapper .form_block .btn:hover, .product_wrapper .product_block .form_wrapper .form_block button:hover, .product_wrapper .product_block .form_wrapper .form_block input[type="submit"]:hover {
  background: #161A39;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.product_wrapper .product_block .images_wrapper .product_title {
  display: none;
}

@media screen and (max-width: 991px) {
  .product_wrapper .product_block .images_wrapper .product_title {
    display: block;
  }
}

.product_wrapper .product_block .form_wrapper .product_title {
  display: block;
}

@media screen and (max-width: 991px) {
  .product_wrapper .product_block .form_wrapper .product_title {
    display: none;
  }
}

.product_wrapper .product_title {
  margin-bottom: 31px;
}

@media screen and (max-width: 1366px) {
  .product_wrapper .product_title {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 991px) {
  .product_wrapper .product_title {
    text-align: center;
  }
}

.product_wrapper .product_title label {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #161A39;
}

.product_wrapper .product_title h1 {
  font-family: "SF-Pro-Display-Medium";
  font-weight: 500;
  font-size: 48px;
  line-height: 63px;
  color: #161A39;
}

@media screen and (max-width: 1366PX) {
  .product_wrapper .product_title h1 {
    font-size: 34px;
    line-height: inherit;
  }
}

@media screen and (max-width: 1080px) {
  .product_wrapper .product_title h1 {
    font-size: 26px;
  }
}

@media screen and (max-width: 991px) {
  .product_wrapper .product_title h1 {
    font-size: 32px;
  }
}

/* PRODUCT BLOCK CSS END'S HERE */
/* PLAYSTATION BLOCK CSS START HERE */
.playstation_wrapper {
  padding: 106px 0 111px;
}

@media screen and (max-width: 1366px) {
  .playstation_wrapper {
    padding: 80px 0;
  }
}

@media screen and (max-width: 991px) {
  .playstation_wrapper {
    padding: 60px 0;
  }
}

@media screen and (max-width: 767px) {
  .playstation_wrapper {
    padding: 40px 0;
  }
}

.playstation_wrapper .container_full {
  max-width: 1940px;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .playstation_wrapper .container_full {
    max-width: 950px;
    padding: 0 15px;
  }
}

.playstation_wrapper .playstation_block {
  margin-left: -170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1366px) {
  .playstation_wrapper .playstation_block {
    margin-left: -120px;
  }
}

@media screen and (max-width: 991px) {
  .playstation_wrapper .playstation_block {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.playstation_wrapper .playstation_block .images_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 77px;
}

@media screen and (max-width: 1366px) {
  .playstation_wrapper .playstation_block .images_wrapper {
    margin-right: 50px;
  }
}

@media screen and (max-width: 991px) {
  .playstation_wrapper .playstation_block .images_wrapper {
    margin-right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 575px) {
  .playstation_wrapper .playstation_block .images_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.playstation_wrapper .playstation_block .images_wrapper div {
  border-radius: 30px;
  overflow: hidden;
  max-width: 298px;
  font-size: 0;
  margin-right: 30px;
}

@media screen and (max-width: 1366px) {
  .playstation_wrapper .playstation_block .images_wrapper div {
    max-width: 240px;
  }
  .playstation_wrapper .playstation_block .images_wrapper div img {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .playstation_wrapper .playstation_block .images_wrapper div {
    border-radius: 15px;
  }
}

@media screen and (max-width: 575px) {
  .playstation_wrapper .playstation_block .images_wrapper div {
    margin: 0 0 20px;
  }
}

.playstation_wrapper .playstation_block .images_wrapper div:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.playstation_wrapper .playstation_block .text_wrapper {
  padding-top: 50px;
}

@media screen and (max-width: 1366px) {
  .playstation_wrapper .playstation_block .text_wrapper {
    padding-top: 30px;
  }
}

@media screen and (max-width: 991px) {
  .playstation_wrapper .playstation_block .text_wrapper {
    padding: 0 0 30px;
    text-align: center;
  }
  .playstation_wrapper .playstation_block .text_wrapper h2 br {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .playstation_wrapper .playstation_block .text_wrapper {
    padding: 0 0 20px;
  }
}

/* PLAYSTATION BLOCK CSS END'S HERE */
/* INNOVATION BLOCK CSS START HERE */
.innovation_wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(#EDF4FA), to(#F9FCFF));
  background: linear-gradient(180deg, #EDF4FA 0%, #F9FCFF 100%);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  padding-bottom: 30px;
}

.innovation_wrapper .innovation_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

@media screen and (max-width: 767px) {
  .innovation_wrapper .innovation_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .innovation_wrapper .innovation_block .text_wrapper h2 br {
    display: none;
  }
}

.innovation_wrapper .innovation_block .images_wrapper {
  position: relative;
  font-size: 0;
  margin-left: 50px;
}

@media screen and (max-width: 1366px) {
  .innovation_wrapper .innovation_block .images_wrapper {
    max-width: 580px;
  }
  .innovation_wrapper .innovation_block .images_wrapper img {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .innovation_wrapper .innovation_block .images_wrapper {
    max-width: 420px;
  }
}

@media screen and (max-width: 767px) {
  .innovation_wrapper .innovation_block .images_wrapper {
    margin: 30px auto 0;
  }
}

.innovation_wrapper .innovation_block .images_wrapper:after {
  content: "";
  position: absolute;
  right: 60px;
  top: 0;
  width: 736px;
  height: 736px;
  background: #01A2F3;
  border-radius: 100%;
}

@media screen and (max-width: 1366px) {
  .innovation_wrapper .innovation_block .images_wrapper:after {
    width: 520px;
    height: 520px;
  }
}

@media screen and (max-width: 991px) {
  .innovation_wrapper .innovation_block .images_wrapper:after {
    width: 380px;
    height: 380px;
  }
}

@media screen and (max-width: 767px) {
  .innovation_wrapper .innovation_block .images_wrapper:after {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
  }
}

.innovation_wrapper .innovation_block .images_wrapper img {
  position: relative;
  z-index: 2;
}

/* INNOVATION BLOCk END'S HERE */
/* GAMEPLAY BLOCK CSS START HERE */
.gameplay_wrapper {
  padding: 100px 0;
}

@media screen and (max-width: 1366px) {
  .gameplay_wrapper {
    padding: 80px 0;
  }
}

@media screen and (max-width: 991px) {
  .gameplay_wrapper {
    padding: 60px 0;
  }
}

@media screen and (max-width: 767px) {
  .gameplay_wrapper {
    padding: 40px 0;
  }
}

@media screen and (max-width: 575px) {
  .gameplay_wrapper .gameplay_block {
    padding: 0px 15px;
  }
}

.gameplay_wrapper .gameplay_block h2 {
  text-align: center;
  margin-bottom: 0;
}

.gameplay_wrapper .gameplay_block .remote_block {
  position: relative;
  text-align: center;
  padding-bottom: 28px;
  margin-top: -18px;
}

@media screen and (max-width: 1366px) {
  .gameplay_wrapper .gameplay_block .remote_block {
    max-width: 680px;
    margin: -30px auto 0;
  }
  .gameplay_wrapper .gameplay_block .remote_block img {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .gameplay_wrapper .gameplay_block .remote_block {
    max-width: 520px;
  }
}

@media screen and (max-width: 767px) {
  .gameplay_wrapper .gameplay_block .remote_block {
    max-width: 380px;
    margin: -20px auto 0;
  }
}

@media screen and (max-width: 575px) {
  .gameplay_wrapper .gameplay_block .remote_block {
    max-width: 280px;
    margin: -10px auto 0;
    padding-bottom: 0;
  }
}

.gameplay_wrapper .gameplay_block .remote_block h3 {
  font-family: "SF-Pro-Display-Bold";
  font-weight: 900;
  font-size: 312px;
  line-height: 408px;
  color: #edf4fa;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
}

@media screen and (max-width: 1520px) {
  .gameplay_wrapper .gameplay_block .remote_block h3 {
    font-size: 250px;
    line-height: 220px;
  }
}

@media screen and (max-width: 1366px) {
  .gameplay_wrapper .gameplay_block .remote_block h3 {
    font-size: 140px;
    line-height: 120px;
  }
}

@media screen and (max-width: 991px) {
  .gameplay_wrapper .gameplay_block .remote_block h3 {
    font-size: 105px;
    line-height: 100px;
  }
}

@media screen and (max-width: 767px) {
  .gameplay_wrapper .gameplay_block .remote_block h3 {
    font-size: 78px;
    line-height: 80px;
  }
}

@media screen and (max-width: 575px) {
  .gameplay_wrapper .gameplay_block .remote_block h3 {
    font-size: 56px;
    line-height: 60px;
  }
}

.gameplay_wrapper .gameplay_block .remote_block img {
  position: relative;
  z-index: 2;
}

.gameplay_wrapper .icon_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .gameplay_wrapper .icon_block {
    margin-top: 30px;
  }
}

@media screen and (max-width: 575px) {
  .gameplay_wrapper .icon_block {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.gameplay_wrapper .icon_block div {
  text-align: center;
  max-width: 247px;
  width: 100%;
}

@media screen and (max-width: 1366px) {
  .gameplay_wrapper .icon_block div {
    max-width: 200px;
  }
}

@media screen and (max-width: 575px) {
  .gameplay_wrapper .icon_block div {
    margin: 0 auto 20px;
    max-width: 100%;
  }
  .gameplay_wrapper .icon_block div:last-child {
    margin-bottom: 0;
  }
}

.gameplay_wrapper .icon_block div span {
  width: 110px;
  height: 110px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 24px;
}

@media screen and (max-width: 1366px) {
  .gameplay_wrapper .icon_block div span {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 767px) {
  .gameplay_wrapper .icon_block div span {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
  }
}

.gameplay_wrapper .icon_block div span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(images/circle.svg) no-repeat center;
  -webkit-animation: 3.5s rotate infinite;
          animation: 3.5s rotate infinite;
  background-size: cover;
}

.gameplay_wrapper .icon_block div span b {
  width: 74px;
  height: 74px;
  background: linear-gradient(34.99deg, #4754E0 13.51%, #3AA3E7 84.85%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1366px) {
  .gameplay_wrapper .icon_block div span b {
    width: 60px;
    height: 60px;
    padding: 15px;
  }
  .gameplay_wrapper .icon_block div span b img {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .gameplay_wrapper .icon_block div span b {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.gameplay_wrapper .icon_block div h4 {
  font-family: "SF-Pro-Display-Medium";
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: rgba(22, 26, 57, 0.6);
}

@media screen and (max-width: 1366px) {
  .gameplay_wrapper .icon_block div h4 {
    font-size: 20px;
    line-height: 28px;
  }
}

@media screen and (max-width: 767px) {
  .gameplay_wrapper .icon_block div h4 {
    font-size: 18px;
    line-height: 26px;
  }
}

/* GAMEPLAY BLOCK CSS END'S HERE */
/* VENUE BLOCK CSS START HERE */
.venue_wrappera {
  text-align: center;
}

.venue_wrappera .venue_block {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  font-size: 0;
}

.venue_wrappera .venue_block img {
  width: 100%;
}

.venue_wrappera .venue_block .text_wrapper {
  text-align: left;
  position: absolute;
  bottom: 168px;
  right: 150px;
  z-index: 2;
}

@media screen and (max-width: 1366px) {
  .venue_wrappera .venue_block .text_wrapper {
    bottom: 140px;
    right: 120px;
  }
}

@media screen and (max-width: 991px) {
  .venue_wrappera .venue_block .text_wrapper {
    bottom: 90px;
    right: 60px;
  }
}

@media screen and (max-width: 767px) {
  .venue_wrappera .venue_block .text_wrapper {
    bottom: 65px;
    right: 40px;
  }
}

@media screen and (max-width: 575px) {
  .venue_wrappera .venue_block .text_wrapper {
    bottom: 20px;
    right: 10px;
  }
}

.venue_wrappera .venue_block .text_wrapper h3 {
  font-family: "SF-Pro-Display-Bold";
  font-weight: 900;
  font-size: 80px;
  line-height: 105px;
  color: #fff;
  text-shadow: 0px 34px 54px rgba(0, 0, 0, 0.6);
  text-shadow: 0px 34px 54px #00000099;
  margin-bottom: -46px;
  -webkit-filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.6));
}

@media screen and (max-width: 1366px) {
  .venue_wrappera .venue_block .text_wrapper h3 {
    line-height: 65px;
    font-size: 55px;
    margin-bottom: -22px;
  }
}

@media screen and (max-width: 991px) {
  .venue_wrappera .venue_block .text_wrapper h3 {
    line-height: 56px;
    font-size: 38px;
    margin-bottom: -20px;
  }
}

@media screen and (max-width: 767px) {
  .venue_wrappera .venue_block .text_wrapper h3 {
    line-height: 46px;
    font-size: 28px;
  }
}

@media screen and (max-width: 575px) {
  .venue_wrappera .venue_block .text_wrapper h3 {
    line-height: 46px;
    font-size: 22px;
  }
}

.venue_wrappera .venue_block .text_wrapper h4 {
  font-family: "SF-Pro-Display-Bold";
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  line-height: 131px;
  color: #fff;
}

@media screen and (max-width: 1366px) {
  .venue_wrappera .venue_block .text_wrapper h4 {
    line-height: 80px;
    font-size: 65px;
  }
}

@media screen and (max-width: 991px) {
  .venue_wrappera .venue_block .text_wrapper h4 {
    line-height: 65px;
    font-size: 48px;
  }
}

@media screen and (max-width: 767px) {
  .venue_wrappera .venue_block .text_wrapper h4 {
    line-height: 56px;
    font-size: 34px;
  }
}

@media screen and (max-width: 575px) {
  .venue_wrappera .venue_block .text_wrapper h4 {
    line-height: 44px;
    font-size: 26px;
  }
}

/* VENUE BLOCK CSS END'S HERE */
/* CONTROLLER BLOCK CSS START HERE */
.controller_wrapper {
  padding: 132px 0 128px;
  background: #edf4fa;
}

@media screen and (max-width: 1366px) {
  .controller_wrapper {
    padding: 80px 0;
  }
}

@media screen and (max-width: 991px) {
  .controller_wrapper {
    padding: 60px 0;
  }
}

@media screen and (max-width: 767px) {
  .controller_wrapper {
    padding: 40px 0;
  }
}

.controller_wrapper .controller_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .controller_wrapper .controller_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.controller_wrapper .controller_block .images_wrapper {
  position: relative;
  font-size: 0;
  margin-right: 50px;
}

@media screen and (max-width: 1366px) {
  .controller_wrapper .controller_block .images_wrapper {
    max-width: 580px;
  }
  .controller_wrapper .controller_block .images_wrapper img {
    width: 100%;
  }
}

@media screen and (max-width: 1080px) {
  .controller_wrapper .controller_block .images_wrapper {
    max-width: 480px;
  }
}

@media screen and (max-width: 991px) {
  .controller_wrapper .controller_block .images_wrapper {
    max-width: 380px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .controller_wrapper .controller_block .images_wrapper {
    margin: 30px auto 0;
  }
}

@media screen and (max-width: 575px) {
  .controller_wrapper .controller_block .images_wrapper {
    max-width: 280px;
    margin: 20px auto 0;
  }
}

.controller_wrapper .controller_block .images_wrapper:after {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  width: 633px;
  height: 633px;
  background: #01A2F3;
  border-radius: 100%;
}

@media screen and (max-width: 1366px) {
  .controller_wrapper .controller_block .images_wrapper:after {
    width: 480px;
    height: 480px;
  }
}

@media screen and (max-width: 1080px) {
  .controller_wrapper .controller_block .images_wrapper:after {
    width: 380px;
    height: 380px;
  }
}

@media screen and (max-width: 991px) {
  .controller_wrapper .controller_block .images_wrapper:after {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 575px) {
  .controller_wrapper .controller_block .images_wrapper:after {
    width: 240px;
    height: 240px;
  }
}

.controller_wrapper .controller_block .images_wrapper img {
  position: relative;
  z-index: 2;
}

/* CONTROLLER BLOCK CSS END'S HERE */
/* SECTION CSS END'S HERE */
/* FOOTER CSS START HERE */
footer {
  background: #fff;
  padding: 55px 0;
  text-align: center;
}

@media screen and (max-width: 1366px) {
  footer {
    padding: 25px 0;
  }
}

footer p {
  font-size: 18px;
  font-family: "SF-Pro-Display-Regular";
  line-height: 25px;
  color: #000;
}

@media screen and (max-width: 1366px) {
  footer p {
    font-size: 14px;
  }
}

footer h4 {
  font-size: 20px;
  font-family: "SF-Pro-Display-Bold";
  line-height: 25px;
  color: #000;
  text-align: center;
  margin-top: 5px;
}

@media screen and (max-width: 1366px) {
  footer h4 {
    font-size: 14px;
  }
}

/* FOOTER CSS END'S HERE */
/*# sourceMappingURL=style.css.map */