*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: inherit;
	box-sizing: inherit
}

@font-face {
	font-family: 'Segoe UI';
	src: url("https://cdn.jsdelivr.net/gh/netdevcdn/dev@latest/form-campaign-checkout-v5/assets/fonts/Segoe UI.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: 'SegoeUI-Semibold';
	src: url("https://cdn.jsdelivr.net/gh/netdevcdn/dev@latest/form-campaign-checkout-v5/assets/fonts/SegoeUI-Semibold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap
}

body {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Segoe UI';
    color: hsla(0,0%,10%,.9);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Segoe UI';
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

.container{
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container{
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 590px;
  }
}
@media (min-width: 992px) {
  .container{
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container{
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container{
    max-width: 1320px;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 7px;
    padding-left: 7px;
}
.col-12, .col-md-12, .col-xs-12, .col-sm-12,.col-lg-12,.col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
@media (min-width: 768px){
    .col-6, .col-md-6, .col-xs-6, .col-sm-6 ,.col-lg-6,.col-xl-6{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
button {
	background: transparent;
	border: 0;
	outline: none;
	cursor: pointer
}

img {
	max-width: 100%
}

a {
	text-decoration: none;
	outline: none
}

a:hover {
	text-decoration: none !important;
	cursor: pointer
}

::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.2)
}

:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.2)
}

::-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.2)
}

::placeholder {
	color: rgba(0, 0, 0, 0.2)
}

.main-wrapper {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	position: relative;
	overflow: hidden;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
	background-size: cover;
	font-weight: normal;
    
}

html {
	height: 100%
}
@media (max-width: 999px) {
	.order-1{
		order: 1 !important;
	}
	.order-2{
		order: 2 !important;
	}
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #fff inset !important;
	-webkit-text-fill-color: #0f1958 !important;
	-webkit-transition: background-color 5000s ease-in-out 0s;
	transition: background-color 5000s ease-in-out 0s
}

.main_wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;    
    @media only screen and (min-width: 992px){
        min-height: 0;
        &::before{
            animation-fill-mode: both;
            background: #ffffff;
            content: " ";
            height: 100%;
            position: fixed;
            right: 0;
            top: 0;
            -webkit-transform-origin: right;
            -ms-transform-origin: right;
            transform-origin: right;
            width: 50%;
            box-shadow: 15px 0 30px 0 rgb(0 0 0 / 18%);
        }
    }
    .App{
        animation: enter-no-scale .6s;
        position: relative;
        align-items: center;
        display: flex;;
        flex-direction: column;
        margin-top: 0;
        width: 100%;
        padding-top: 16px;
        @media only screen and (min-width: 992px){
            transform: translateY(max(48px,calc(50vh - 55%)));
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            max-width: 920px;
            padding-top: 0;
        }
        .App-Overview{
            @media only screen and (min-width: 992px){
                margin: 0;
                padding: 0;
                margin-bottom: 0;
                width: 380px;
                padding-bottom: 40px;
            }
            .header{
                display: flex;
                align-items: center;
                .header_merchant{
                    display: flex;
                    align-items: center;
                    .icon{
                        border-radius: 100%;
                        box-shadow: 0 2px 5px 0 rgb(50 50 93 / 10%), 0 1px 1px 0 rgb(0 0 0 / 7%);
                        height: 28px;
                        margin-right: 8px;
                        width: 28px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg{
                            fill: hsla(0,0%,10%,.5);
                            height: 12px;
                        }
                    }
                    h1{
                        font-size: 14px;
                        font-weight: 500;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        flex: 0 1 auto;
                        max-width: 100%;
                        min-width: 0;
                        color: hsla(0,0%,10%,.9);
                        font-family: 'SegoeUI-Semibold';
                    }
                }
                .tags{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    span{
                        text-transform: uppercase;
                        color: #bb5504;
                        font-weight: 700;
                        font-size: 11px;
                        font-family: 'SegoeUI-Semibold';
                        background-color: #ffde92;
                        padding: 2px 4px;
                        border-radius: 4px;
                        line-height: 14px;
                        margin:0 8px;
                    }
                }
            }
            .ProductSummary{
                margin: 32px 0;
                span{
                    color: hsla(0,0%,10%,.6);
                    word-break: break-word;
                    font-size: 16px;
                    font-weight: 500;
                    font-family: 'SegoeUI-Semibold';
                }
                h2{
                    font-family: 'SegoeUI-Semibold';
                    font-weight: 600;
                    font-variant-numeric: tabular-nums;
                    letter-spacing: -.03rem;
                    font-size: 28px;
                    margin: 2px 0 3px;
                    @media only screen and (min-width: 992px){
                        font-size: 36px;
                    }
                }
            }
        }
        .App-Payment{
            padding: 0 16px 16px;
            width: 100%;
            background-color: #ffffff;
            padding-top: 24px;
            @media only screen and (min-width: 992px){
                height: 100%;
                width: 380px;
                margin: 0;
                padding: 0;
            }
            .App_block{
                max-width: 380px;
                margin: 0 auto;
            }
            h2{
                font-family: 'SegoeUI-Semibold';
                padding-bottom: 16px;
                font-size: 20px;
                font-weight: 500;
            }
            form{
                .row{
                    margin:0 -7px;
                }
                label{
                    color: hsla(0,0%,10%,.7);
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 20px;
                    font-family: 'SegoeUI-Semibold';
                    display: block;
                    margin-bottom: 4px;
                }
                .form-control,input,select,textarea{
                    appearance: none;
                    background: white;
                    border: 0;
                    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
                    color: hsla(0,0%,10%,.9);
                    font-size: 16px;
                    height: 44px;
                    line-height: 1.5;
                    padding: 8px 12px;
                    position: relative;
                    transition: box-shadow .08s ease-in,color .08s ease-in,filter 50000s;
                    width: 100%;
                    border-radius: 6px;
                    &:focus {
                        box-shadow: 0 0 0 1px rgb(50 151 211 / 30%), 0 1px 1px 0 rgb(0 0 0 / 7%), 0 0 0 4px rgb(50 151 211 / 30%);
                        outline: none;
                        z-index: 2;
                    }
                    @media only screen and (min-width: 992px){
                        font-size: 14px;
                        height: 36px;
                    }
                }
                .form-group{
                    margin-bottom: 16px;
                }
                button{
                    background-color: rgb(0, 116, 212);
                    color: rgb(255, 255, 255);
                    backface-visibility: hidden;
                    border: 0;
                    border-radius: 6px;
                    box-shadow: inset 0 0 0 1px rgb(50 50 93 / 10%), 0 2px 5px 0 rgb(50 50 93 / 10%), 0 1px 1px 0 rgb(0 0 0 / 7%);
                    cursor: pointer;
                    height: 44px;
                    margin-top: 16px;
                    outline: none;
                    overflow: hidden;
                    padding: 0;
                    position: relative;
                    -webkit-transform: translateZ(0);
                    transform: translateZ(0);
                    transition: all .2s ease,box-shadow .08s ease-in;
                    width: 100%;
                    font-family: 'SegoeUI-Semibold';
                    font-size: 100%;
                }
                .card_block{
                    .form-group{
                        margin-bottom: 0;
                    }
                    .row{
                        margin: 0;
                        .col,.col-6{
                            padding: 0;
                        }
                    }
                    #number{
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                    .cardDate{
                        border-radius: 0;
                        border-bottom-left-radius: 6px;
                    }
                    .cvc{
                        border-radius: 0;
                        border-bottom-right-radius: 6px;                        
                    }
                }
            }
        }
        .App-footer{
            align-items: center;
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            @media only screen and (min-width: 992px){
                flex-direction: row;
                height: 16px;
                line-height: 16px;
                background-color: inherit;
                height: auto;
                padding: 0;
                width: auto;
                bottom: 0;
                left: 0;
                margin: 12px 0;
                position: absolute;
            }
            .Footer-Links, .Footer-PoweredBy {
                padding: 4px;
            }
            .Footer-PoweredBy{
                text-align: center;
                width: 100%;
                @media only screen and (min-width: 992px){
                    border-right: 1px solid hsla(0,0%,10%,.1);
                    padding: 0 16px 0 0;
                    text-align: left;
                    width: auto;
                }
            }
            .Link {
                color: hsla(0,0%,10%,.5);
                font-weight: 400;
                font-size: 12px;
                cursor: pointer;
                text-decoration: none;
                display: flex;
                align-items: center;
                svg{
                    fill: hsla(0,0%,10%,.4);
                    margin-left: 5px;
                }
            }
            .Footer-Links{
                display: flex;
                align-items: center;
                @media only screen and (min-width: 992px){
                    padding: 0 0 0 16px;
                }
                .Link{
                    margin-right: 12px;
                    text-decoration: underline dotted hsla(0,0%,10%,.5);
                    display: block;
                }
            }
        }
    }
}