$SFP-Regular : 'SF-Pro-Display-Regular';
$SFP-Bold : 'SF-Pro-Display-Bold';

$black : #000;
$white : #fff;

$border : #dbdfe2;


*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  font-display: swap;
  -webkit-appearance: none;
  font-family: $SFP-Regular;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $SFP-Regular;
  font-display: swap;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #fff;
}
html {
    scroll-behavior: smooth;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    list-style: none;
    vertical-align: baseline;
}
  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
section{    
  max-width: 1920px;
  margin: 0 auto;
}

/* FONTS CSS START HERE */
@font-face {
    font-family: 'SF-Pro-Display-Bold';
    font-style: normal;
    font-display: swap;
    src: url(../fonts/SF-Pro-Display-Bold.woff2) format('woff2');
  }
@font-face {
    font-family: 'SF-Pro-Display-Regular';
    font-style: normal;
    font-display: swap;
    src: url(../fonts/SF-Pro-Display-Regular.woff2) format('woff2');
}
/* FONTS CSS END'S HERE */

.container{
    max-width: 1190px;
    padding:0 15px;
    margin: 0 auto;
    @media screen and (max-width:1399px){
        max-width: 991px;
    }
}
/* SECTION CSS START HERE */

/* BOOTSTRAP CSS START HERE */
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -7px;
    margin-right: -7px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 7px;
    padding-left: 7px;
}
.col-12, .col-md-12, .col-xs-12, .col-sm-12,.col-lg-12,.col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
@media (min-width: 768px){
    .col-6, .col-md-6, .col-xs-6, .col-sm-6 ,.col-lg-6,.col-xl-6{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
/* BOOTSTRAP CSS END'S HERE */

.alert {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

/* TOPBAR CSS START HERE */
.topbar{
    left: 0;
    margin: auto;
    position: relative;
    top: 0;
    width: 100%;
    // background: rgba(255, 255, 255, 0.99);
    border-bottom: 1px solid #e4e4e4;
    p{
        color: rgba(85, 85, 85, 0.7);
        font-size: 11px;
        vertical-align: baseline;
        margin-bottom: 0;
        line-height: 1em;
        margin-left: 0;
        padding: 5px 0;
        text-align: center;    
        font-family: $SFP-Regular;
        @media screen and (max-width:991px){
            font-size: 11px;
        }
    }
    &.topbar2 {
        // background-color: #f2f2f2;
        border-bottom: none;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        @media screen and (max-width:991px){
            margin-bottom: 40px;
        }                
        @media screen and (max-width:767px) {
            margin-bottom: 20px;
        }
        p {
            font-size: 17px;
            font-weight: 300;
            line-height: 22px;
            color: #666;
            font-weight: 400;
        }
        .count {
            margin-left: 6px;
           div{
            padding: 0px;
            background: transparent;
            position: relative;
            text-align: center;
            color: #333;
            font-family: $SFP-Regular;
            font-size: calc(1.1em + 0.15vw);
            min-width: 54px;
            min-height: 25px;
           }
        }
    }    
}
/* TOPBAR CSS END'S HERE */

/* PRODUCT BLOCK CSS START HERE */
.product_wrapper{
    margin: 0;
    padding: 0 0 40px 0;
    position: relative;
    background: url(../images/background.jpg) no-repeat center;
    background-size: cover;
    .product_block{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        @media screen and (max-width:991px) {
            justify-content: center;
            flex-direction: column-reverse;
            align-items: center;
        }
        .images_wrapper{
            width: 100%;
            max-width: 590px;
            font-size: 0;
            position: relative;
            .img-tab {
                display: none;
            }
            .img-tab.active {
                display: block;
                width: 100%;
                height: 100%;
                @media screen and (max-width:1399px) {
                    padding-right: 30px;
                    img{
                        width: 100%;
                    }
                }
            }
            @media screen and (max-width:1399px) {
                max-width: calc(100% - 50%);
            }
            @media screen and (max-width:1080px){
                // margin: 70px 0 0;
            }
            @media screen and (max-width:991px) {
                max-width: 460px;
                margin: 30px auto 0;
                padding: 0;
            }
            @media screen and (max-width:767px) {
                // max-width: 65%;
            }
            @media screen and (max-width:575px) {
                // max-width: 70%;
            }
            .price_block {
                position: absolute;
                z-index: 5;
                font-size: 40px;
                background: linear-gradient(180deg, #A759D9 0%, #D20404 100%);;
                width: 190px;
                height: 190px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                animation: bounce 2s ease infinite;
                box-shadow: 0px 10px 19.8px 0.2px rgba(127, 127, 127, 0.2);
                position: absolute;
                right: 0;
                top: 30%;
                color: $white;
                span{
                    font-size: 20px;
                    line-height: 24px;
                }
                h2{
                    font-size: 40px;
                    line-height: 48px;
                    font-family: $SFP-Bold;
                }
                &:after{
                    width: calc(100% - 15px);
                    height: calc(100% - 15px);
                    content: "";
                    position: absolute;
                    border: 2px solid $white;
                    border-radius: 100%;
                }
                @media screen and (max-width:1399px) {
                    width: 120px;
                    height: 120px;
                    span{
                        font-size: 18px;
                    }
                    h2{
                        font-size: 22px;
                        line-height: 20px;
                    }
                    &:after{
                        width: calc(100% - 8px);
                        height: calc(100% - 8px);
                    }
                }
                @media screen and (max-width:991px) {
                }
                @media screen and (max-width:575px) {
                    width: 90px;
                    height: 90px;
                    span{
                        font-size: 16px;
                    }
                    h2{
                        font-size: 18px;
                    }
                }
                @keyframes bounce{
                    0%, 20%, 50%, 80%, 100% {
                        transform: translateY(-50%);
                    }
                    40% {
                        transform: translateY(-40%);
                    }
                    
                    60% {
                        transform: translateY(-30%);
                    }
                }
            }
        }
        .form_wrapper{
            width: 100%;
            max-width: 468px;
            margin-right: 60px;
            @media screen and (max-width:991px) {
                margin: 0;
            }
            .form_block{
                width: 100%;
                margin: 0 auto;
                background: rgba(255, 255, 255, 0.62);
                border: 1px solid rgba(0, 0, 0, 0.22);
                border-radius: 15px;  
                padding: 50px 27px;
                @media screen and (max-width:1399px) {
                    padding: 30px;
                }
                @media screen and (max-width:575px) {
                    padding: 25px; 
                }
                // $colors: (
                //     black: #ABAEB1,
                //     white: #DDDFDE,                     
                // );                
                input[type="radio"] {
                    display: none;
                }
                .btn-group{
                    font-size: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding:5px 0;
                    a {
                        display: block;
                        width: 40px;
                        height: 40px;
                        margin-right: 20px;
                        cursor: pointer;
                        border-radius: 100%;
                        position: relative;
                        box-shadow: inset 0px 1px 2px 0px rgb(0 0 0 / 40%);
                        @media screen and (max-width:1399px) {
                            width: 25px;
                            height: 25px;
                            margin-right: 20px;
                        }
                        // @each $name, $value in $colors {
                        //     &.#{$name} {
                        //         background: $value;
                        //     }
                        // }
                        &:after {
                            content: "";
                            display: block;
                            width: 48px;
                            height: 48px;
                            border: 1px solid #000;
                            border-radius: 100%;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%,-50%) scale(0);
                            position: absolute;
                            @media screen and (max-width:1399px) {
                                width: 36px;
                                height: 36px;
                            }
                        }
                        &:last-child{
                            margin-right: 0;
                        }
                        &.active{
                            &:after {
                                transform: translate(-50%,-50%) scale(1);
                            }
                        }
                    }
                }
                .d-flex {
                    display: flex;
                    align-items: center;
                    margin-bottom: 45px;                    
                    @media screen and (max-width:991px) {
                        margin-bottom: 20px;
                    }
                }
                .title{
                    text-align: center;
                    margin-bottom: 0;
                    margin-right: 15px;
                    label{
                        font-size: 22px;
                        color: rgb(27, 27, 27);
                        line-height: 1.2;
                        @media screen and (max-width:1399px) {
                            font-size: 20px;
                        }
                        @media screen and (max-width:1080px) {
                            font-size: 18px;
                        }
                    }
                    &.choose_color{
                        label{
                            font-size: 18px;
                            @media screen and (max-width:1399px) {
                                font-size: 16px;
                            }
                        }
                    }
                }
                .form-group{
                    margin-bottom: 20px;
                    label{
                        font-size: 0;
                        display: none;
                    }                    
                    input,textarea,select{
                        width: 100%;
                        background: transparent;
                        border: 0;
                        border: 1px solid rgba(0, 0, 0, 0.21);
                        color: #05060a;
                        font-family:$SFP-Regular;
                        font-weight: 100;
                        padding: 14px;
                        border-radius: 7px;
                        background: #fff;
                        outline: none;
                        font-size: 14px;
                        line-height: 16px;
                        &:focus{
                            border: 1px solid rgba(0, 0, 0, 0.5);
                            box-shadow: 0px 7.93265px 11.5384px rgba(0, 0, 0, 0.07);
                        }
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                        &[type=number] {
                            -moz-appearance: textfield;
                        }
                        @media screen and (max-width:1399px) {
                            padding: 9px 15px;
                            line-height: 20px;
                            font-size: 16px;
                        }
                        @media screen and (max-width:575px){
                            font-size: 16px;
                            padding: 10px 15px;
                        }
                    }
                    ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, ::placeholder {
                        font-family:$SFP-Regular;color: #888888;
                    }
                    select{
                        // background-image:url(images/dropdown.png);
                        background-repeat: no-repeat;
                        background-position: right 20px center;
                        color: #888888;          
                        cursor: pointer;
                        &:focus{
                            border: 1px solid #c2c2c2;                    
                        }
                        &.active{
                            color: #05060a;
                        }
                    }
                    .form-check{
                        display: flex;
                        align-items: center;
                        .form-check-input {
                            width: 25px;
                            height: 25px;
                            margin-right: 10px;
                            vertical-align: top;
                            background-color: #fff;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            border: 1px solid #707070;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            -webkit-print-color-adjust: exact;
                            color-adjust: exact;
                            cursor: pointer;
                            padding: 0;
                            border-radius: 5px;
                            &:focus{
                                border:1px solid #707070;                    
                            }
                            &:checked[type=checkbox] {
                                // background-image: url(images/right.svg);
                                background-color: #707070;
                            }
                        }
                        label{
                            font-size: 18px;
                            color: rgb(57, 57, 57);
                            line-height: 1.2;
                            display: inline-block;
                            cursor: pointer;
                            @media screen and (max-width:1399px) {
                                font-size: 15px;
                            }
                        }
                    }
                }
                .btn,button,input[type="submit"]{
                    border-radius: 10px;
                    background-color: rgb(5, 6, 10);
                    width: 100%;
                    height: 40px;
                    border: 0;
                    outline: none;
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 17px;        
                    color: $white;
                    padding-bottom: 0;
                    transition: background 0.5s ease;
                    @media screen and (max-width:1399px) {
                        font-size: 16px;
                        height:40px;
                        padding-bottom: 2px;
                    }
                    &:hover{
                        background: #707070;
                        transition: background 0.5s ease;
                    }
                }
            }
        }
    }
    .product_title{
        margin-bottom: 20px;
        @media screen and (max-width:991px) {
            text-align: center;
        }   
        label{
            color: $black;
            font-size: 20px;
            line-height: 24px;  
            display: block;
            @media screen and (max-width:1399px){
                font-size: 24px;
            }
            @media screen and (max-width:1080px) {
                font-size: 18px;
            } 
        }
        h1{
            font-family: $SFP-Bold;
            color: $black;
            font-weight: bold;
            font-weight: 600;
            font-size: 50px;
            line-height: 60px;   
            @media screen and (max-width:1399PX){
                font-size: 44px;
            }      
            @media screen and (max-width:1080px) {
                font-size: 36px;
            }   
        }
    }
}
/* PRODUCT BLOCK CSS END'S HERE */



/* SECTION CSS END'S HERE */

/* FOOTER CSS START HERE */
footer{
    background: #f5f5f7;
    padding: 55px 0;
    text-align: center;
    @media screen and (max-width:1399px) {
        padding: 25px 0;
    }
    p{
        font-size: 18px;
        font-family: $SFP-Regular;
        line-height: 25px;
        color: $black;
        @media screen and (max-width:1399px) {
            font-size: 14px;
        }
    }
    h4{
        font-size: 20px;
        font-family: $SFP-Bold;
        line-height: 25px;
        color: $black;
        text-align: center;
        margin-top: 5px;
        @media screen and (max-width:1399px) {
            font-size: 14px;
        }
    }
}
/* FOOTER CSS END'S HERE */ 
